<script nonce="{{ config.nonce }}" src="{{ routes.controllers.Assets.versioned("lib/govuk-frontend/govuk/all.js").url }}"></script>
<script nonce="{{ config.nonce }}" src="{{ routes.controllers.Assets.versioned("lib/hmrc-frontend/hmrc/all.js").url }}"></script>
<script nonce="{{ config.nonce }}" src="{{ routes.controllers.Assets.versioned("javascripts/psp.min.js").url }}"></script>
