{% extends "includes/layout.njk" %}

{% from "macros/title.njk"                         import title %}

{% block pageTitle %}
  {{ title(messages("tellHMRC.title")) }}
{% endblock %}

{% block mainContent %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
          {{ messages("tellHMRC.heading") }}
        </h1>


        <p class="govuk-body">{{messages("tellHMRC.p1")}}</p>
        <ul class="govuk-list govuk-list--bullet">
          <li><a class="govuk-link" href="{{ companiesHouseUrl }}">{{messages("tellHMRC.aboutBusiness")}}</a> {{messages("tellHMRC.p2")}}</li>
          <li><a class="govuk-link" href="{{ hmrcUrl }}">{{messages("tellHMRC.companiesHouse")}}</a> {{messages("tellHMRC.p3")}}</li>
        </ul>



      </div>
    </div>

{% endblock %}
