{% extends "includes/layout.njk" %}

{% from "macros/title.njk"                         import title %}

{% block pageTitle %}
  {{ title(messages("tellHMRC.title")) }}
{% endblock %}

{% block mainContent %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
          {{ messages("tellHMRC.heading") }}
        </h1>

        <p class="govuk-body">
            {{messages("tellHMRC.p1")}}
            <a href="{{ companiesHouseUrl }}" class="govuk-link"> {{ messages("tellHMRC.companiesHouse") }}</a>
            {{messages("tellHMRC.and")}}
            <a href="{{ hmrcUrl }}" class="govuk-link"> {{ messages("tellHMRC.hmrc") }}.</a>
        </p>

      </div>
    </div>

{% endblock %}
