{% extends "includes/layout.njk" %}

{% from "macros/title.njk" import title %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% block pageTitle %}
  {{ title(messages("nonUKPractitioner.title")) }}
{% endblock %}

{% block mainContent %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        {{ messages("nonUKPractitioner.heading") }}
      </h1>

      <p class="govuk-body">
        {{ messages("nonUKPractitioner.p1") }}
      </p>

      <p class="govuk-body">
        {{ messages("nonUKPractitioner.p2.1") }}
            <a href="mailto:{{ messages("nonUKPractitioner.p2.emailHref") }}">
                {{ messages("nonUKPractitioner.p2.email") }}
            </a>
        {{ messages("nonUKPractitioner.p2.2") }}
      </p>

    </div>
  </div>

{% endblock %}